body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0c1d3e; /* Dark background */
}

.background {
    position: relative;
    height: 100vh;
    background: linear-gradient(to right, #0c1d3e, #1a2b4d);
    overflow: hidden;
    background-image: url('https://i.pinimg.com/736x/82/71/2f/82712f0751c548b4b4243136144098b0.jpg') ;
    background-size: cover ;


}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
    background-color: rgba(14, 26, 155, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(203, 199, 199, 0.5);
    width: 300px;
    height: 500px;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form h1 {
    color: #ffffff;
 text-align: justify;
 padding-top: 5px;
 margin-top: 5px;
    font-size: 30px;
    text-align:center ;
    font-family: 'Times New Roman', Times, serif;
}

.signup-form p {
    color: #da826f; /* Title color */
    text-align: center;
    height: 10px;
 padding-top: 0.5%;
 margin-top: 0.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;

}

.signup-form label {
    color: #ffffff;
    margin-bottom: 5px;
}

.signup-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.304);
}

.signup-form input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 204, 0, 0.5);
}

button {
    background-color: #ffcc00; /* Button color */
    color: #0c1d3e; /* Button text color */
    border: black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    justify-content: center;
    display:flexbox;
    align-items: center;
    left: 350px;
}

button:hover {
    background-color: #ffd700; /* Hover color */
}